################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Furneral/.vs
# Build Folders
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/Debug/
x64/Release/
/x64/
/Debug/
/Release/

# Visual Studio temporary files
*.pdb
*.exe
*.obj
*.user
*.suo

/funeral6.0/.vs/funeral6.0/CopilotIndices/17.14.794.21998
/.vs/SimpleFuneralSystem/v17
/funeral6.0/.vs/funeral6.0/FileContentIndex
/funeral6.0/.vs/funeral6.0/v17/ipch/AutoPCH
/funeral6.0/.vs/funeral6.0/v17/Browse.VC.db
*.json
*.db-shm
/funeral6.0/.vs/funeral6.0/v17/Browse.VC.db-wal
/funeral6.0/.vs/funeral6.0/v17/Browse.VC.opendb
