################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Furneral/.vs
# Build Folders
[Bb]in/
[Dd]ebug/
[Rr]elease/
x64/Debug/
x64/Release/
/x64/
/Debug/
/Release/

# Visual Studio temporary files
*.pdb
*.exe
*.obj
*.user
*.suo

